body{
  background-color:black;

}

h1{
  color:rgb(255,0,0);
    font-size:1250%;
}

.exp{
  color:rgb(0,0,255);
  font-size:1250%;
}

.it{
  color:rgb(0,255,255);
  font-size:1250%;
}

.con{
  color:rgb(255,0,255);
  font-size:1250%;
}

.lis{
  color:rgb(255,255,0);
  font-size:1000%;
}

.pic{
  color:rgb(0,0,0);
  margin: 30px;
}
